body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 10px 5px;
    background-color: #1DB954;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.subheader {
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Trattatello, fantasy';

}

.logo {
    color: whitesmoke;
    font-weight: bold;
}

.main {

    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    gap: 0px;
    display: flex;
    align-items: center;
}

.search-bar input[type=text] {

    width: 600px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: black;
    border-width: 2px;
    font-size: 17px;
}

.search-button {
    border-width: 2px;
    border-color: black;
    background-color: white;
    margin: 0px;
    height: 44px;
}
